.settings{
  display: flex;
  height:100%;
}
.settings-d{
  display: flex;
  height:100%;
  background-color: #333;
}

.settingsWrapper{
  flex:9;
  padding: 20px 20px 0px 20px;
  height: 100%;

}

.settingsTitle{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settingsUpdateTitle{
  font-size: 30px;
  margin-bottom: 20px;
  color: lightcoral;
}

.settingsDeleteTitle{
  color: red;
  font-size: 12px;
  cursor: pointer;
}

.settingsForm{
  display: flex;
  flex-direction: column;
}

.settingsPP{
  display: flex;
  align-items: center;
  margin: 10px 0px;
}

.settingsPPImg{
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}

.settingsPPIcon{
width: 25px;
height: 25px;
border-radius: 50%;
background-color: darkgray;
color: white;
display: flex;
align-items: center;
justify-content: center;
margin-left: 10px;
cursor: pointer;
}

.settingsFormLabel{
font-size: 20px;
margin-top: 20px;
}

.settingsFormInput{
  color: gray;
  margin: 10px 0;
  height: 30px;
  border:none;
  border-bottom: 1px solid lightgray;
  transition: all 1s ease;
}
.settingsFormInput-d{
  color: gray;
  margin: 10px 0;
  height: 30px;
  border:none;
  border-bottom: 1px solid lightgray;
  background-color: #333;
  transition: all 1s ease;

}

.settingsSubmit{
  width: 150px;
  align-self: center;
  border:none;
  border-radius: 10px;
  color: white;
  background-color: darkgray;
  margin-top: 20px;
  cursor: pointer;
  padding: 10px;
}